* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.header {
  color: #555;
  background: linear-gradient(to bottom, #fff, #e4e0e0);
  border-bottom: 1px solid #ddd;
  padding: 2em; }

.header__text {
  font-size: 2em;
  font-weight: bold; }

.header__text_sm {
  font-size: 1.2em;
  line-height: 2.3; }

.matrix {
  display: grid;
  grid-template-columns: 1fr [square] 800px 1fr;
  background-color: #fff;
  padding: 2.5em;
  cursor: pointer; }

.matrix__square {
  display: grid;
  grid-column: square;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.quadrant {
  height: 460px;
  max-width: 460px;
  transition: all 0.8s ease;
  position: relative;
  display: flex;
  align-items: center; }

.quadrant__title {
  font-size: 5.6em;
  font-family: fantasy;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  opacity: 0.3;
  display: flex;
  padding: 80px 0; }

.animation {
  transition: all 1.2s ease;
  opacity: 9; }

.quadrant_1k {
  background-color: #4cbf73; }

.quadrant_2k {
  background-color: #68a9ca; }

.quadrant_3k {
  background-color: #d84557; }

.quadrant_4k {
  background-color: #ebff6f; }
  .quadrant_4k span {
    color: #000; }
  .quadrant_4k .quadrant__forms-explain {
    color: #777; }

.quadrant__forms {
  z-index: 1;
  padding: 15px 10px;
  text-align: center;
  position: absolute;
  top: 1%; }

.quadrant__input {
  cursor: pointer;
  border: 1px solid rgba(221, 221, 221, 0.32);
  background-color: #f7f7f7;
  width: 100%;
  min-height: 35px;
  border-radius: 3px;
  font-size: 20px;
  overflow: hidden; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.overflow {
  overflow: hidden; }

.quadrant__forms-explain {
  font-size: 23px;
  font-family: fantasy;
  color: #edf9f1;
  margin-bottom: 15px; }

.quadrant__input-wr {
  padding: 0 20px;
  margin: 20px 0 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-shrink: 1;
  overflow: hidden; }

.successBtn {
  border: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 25px;
  margin-top: 3px;
  font-family: inherit;
  font-size: large;
  background-color: rgba(225, 225, 225, 0.5); }

.quadrant__task-field {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(221, 221, 221, 0.32);
  width: 90%;
  border-radius: 3px;
  margin: 40px 20px 15px;
  min-height: 35px;
  font-size: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: left;
  font-family: Arial;
  font-size: 20px;
  max-width: 340px;
  border-top-right-radius: 2px; }

.quadrant__task-field-icons {
  position: absolute;
  top: -35px;
  right: -1px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px 2px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .quadrant__task-field-icons i {
    color: rgba(119, 119, 119, 0.58); }
  .quadrant__task-field-icons i:hover {
    color: #666; }

.quadrant__task-field-icon_edit {
  right: 30px; }

.quadrant__task-field-icon_save {
  right: 60px; }

.edit__pop-up-wr {
  position: relative;
  height: 100%;
  z-index: 98; }

.edit__pop-up-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99; }

.edit__pop-up {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  z-index: 100;
  width: 470px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 1em;
  line-height: 1.62; }

.edit__pop-up-header {
  display: flex;
  align-items: center;
  background-color: #FFF;
  box-shadow: inset 0 1px 3px 1px #eee;
  padding: 0 7px; }

.edit__pop-up-title {
  font-size: 25px;
  padding: 0 7px; }

.edit__pop-up-body {
  flex-flow: row wrap;
  line-height: 1.6;
  padding: 1em;
  font-size: 18px;
  color: #666; }

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.right {
  color: #444;
  font-size: 18px; }

.edit-link {
  font-size: 14px;
  color: #999;
  text-decoration: none; }

.edit-link:hover {
  color: #333; }

.edit__pop-up-time {
  padding: 0 7px; }

.edit__pop-up-date-status {
  border: 1px solid #f3d652;
  padding: 0 3px;
  background-color: #f7de6b;
  color: #fff;
  border-radius: 3px;
  margin: 5px 0; }
